.message{data: {message: {id: message.id}}}
  .upper-message
    .message_member
      = message.user.name
    .message_date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .lower-message
    - if message.content.present?
      %p.message_text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?