.side-bar
  .side_header
    .name-box
      %p.user-name masa 
      %ul.box-menu 
        %li.box_user_edit
          = link_to "#" do
            = icon('fas','edit')
        %li.box_cog
          = link_to "#" do
            = icon('fas', 'cog')
  .group_list
    .list-box1 techcamp
    .list-box2 まだメッセージがありません
    .list-box1 techcamp
    .list-box2 まだメッセージがありません
    